<style>

body{
    font-family: "PT Sans";
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1.title{

    font-size: 3rem;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

</style>
